@using Octans.Client.Components.StatusBar
@using Octans.Client.Components.MainToolbar
@inherits LayoutComponentBase

<div class="octans">
    <div>
        <MainToolbar/>
    </div>
    <article class="main-content">
        @Body
    </article>
    <div>
        <StatusBar/>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@* Required *@
<MudThemeProvider/>
<MudPopoverProvider/>

@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>