@using Octans.Client.Components.StatusBar
@using Octans.Client.Components.MainToolbar
@inherits LayoutComponentBase
@inject ShellService ShellService
@implements IDisposable

<div class="octans">
    <div class="@(ShellService.IsShellVisible ? "" : "hidden")">
        <MainToolbar/>
    </div>
    <article class="main-content">
        @Body
    </article>
    <div class="@(ShellService.IsShellVisible ? "" : "hidden")">
        <StatusBar/>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@* Required *@
<MudThemeProvider/>
<MudPopoverProvider/>

@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>

@code {
    protected override void OnInitialized()
    {
        ShellService.ShellVisibilityChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ShellService.ShellVisibilityChanged -= StateHasChanged;
    }
}