@using Octans.Client.Components.Pages
@inject GalleryViewmodel Viewmodel

<div class="container">
    <section class="display-options">
        <ContentDisplayOptions/>
    </section>
    <hr/>
    <section class="search-panel">
        <QueryBuilder
            OnQueryChanged="@Viewmodel.OnQueryChanged"
            OnCancellationRequested="@Viewmodel.OnCancel"
            CanCancel="@Viewmodel.Searching"/>
    </section>
    <hr/>
    <section class="selection-tags">
        <TagViewer Tags="@(new List<TagViewer.Tag>())"/>
    </section>
    <hr/>
    <section class="selected-image">
        <img src="images/octans-logo.svg" alt="Selected image"/>
    </section>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
    }
</style>