@page "/gallery"
@using Octans.Client.Components.Pages
@inject GalleryViewmodel Viewmodel

<h3>Gallery</h3>

<section class="querying">
    <input @bind="Viewmodel.SearchTerm" placeholder="Provide a query..."/>
    <button @onclick="OnSearch">Search</button>
</section>

<div class="gallery-container">
    @if (Viewmodel.ImagePaths.Any())
    {
        <div class="image-grid">
            @foreach (var imagePath in Viewmodel.ImagePaths)
            {
                <div class="image-card">
                    <img src="@imagePath" alt="Gallery image" />
                </div>
            }
        </div>
    }
    else
    {
        <p>No images found.</p>
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await Viewmodel.GetAllImages();
        await base.OnInitializedAsync();
    }

    private async Task OnSearch()
    {
        await Viewmodel.SearchAsync();
    }
}
