@page "/gallery"
@using Octans.Client.Components.Pages
@inject GalleryViewmodel Viewmodel

<h3>Gallery</h3>

<section class="querying">
    <QueryBuilder 
        OnQueryChanged="@Viewmodel.OnQueryChanged"
        OnCancellationRequested="@Viewmodel.OnCancel"
        CanCancel="@Viewmodel.Searching"
        />
</section>

<div class="gallery-container">
    @if (Viewmodel.ImagePaths.Any())
    {
        <div class="image-grid">
            @foreach (var imagePath in Viewmodel.ImagePaths)
            {
                <div class="image-card">
                    <img src="@imagePath" alt="Gallery image"/>
                </div>
            }
        </div>
    }
    else if (Viewmodel.Searching)
    {
        <p>Searching...</p>
    }
    else
    {
        <p>No images found.</p>
    }
</div>