@using Octans.Client.Components.Pages
@inject GalleryViewmodel Viewmodel

<div class="container">
    <section class="display-options">
        <ContentDisplayOptions/>
    </section>
    <hr/>
    <section class="search-panel">
        <QueryBuilder
            OnQueryChanged="@Viewmodel.OnQueryChanged"
            OnCancellationRequested="@Viewmodel.OnCancel"
            CanCancel="@Viewmodel.Searching"/>
    </section>
    <hr/>
    <section class="selection-tags">
        <div class="selection-tag-buttons">
            <MudButton>sort by tag</MudButton>
            <MudButton>a-z</MudButton>
            <MudButton>no grouping</MudButton>
        </div>
    </section>
    <hr/>
    <section class="selected-image">
        <img alt="Selected image"/>
    </section>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .selection-tag-buttons {
        display: flex;
        flex-direction: row;
    }
</style>