@inject MainToolbarViewmodel Viewmodel

<div class="main-toolbar">
    <MudToolBar Class="mud-bar">
        @foreach (var menu in Viewmodel.Menu)
        {
            <MudMenu Size="Size.Small" ActivationEvent="MouseEvent.MouseOver" Label="@menu.Name">
                @foreach (var item in menu.Items)
                {
                    <MudMenuItem Label="@item.Name" OnClick="@(() => Viewmodel.Navigate(item.Page))"/>
                }
            </MudMenu>
        }
    </MudToolBar>
</div>

@code {
    protected override void OnInitialized()
    {
        Viewmodel.OnInitialized();
    }

}

<style>
    .main-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        border-bottom: 1px solid;
    }
    
    .mud-bar {
        height: auto;
        padding: 0 1rem;
    }
</style>