@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var hash in Model.Hashes)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => hash.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => hash.Hash)
        </td>
    </tr>
}