@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Uris:

@foreach (var uri in Model.Uris)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => uri.AbsolutePath)
        </td>
    </tr>
}

Images:

@foreach (var image in Model.Images)
{
    <tr>
        <td>
            <img src="data:image;base64,@System.Convert.ToBase64String(image)" width="80" height="80"/>     
        </td>
    </tr>
}