@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Images:

@foreach (var hash in Model.Uris)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => hash.AbsolutePath)
        </td>
    </tr>
}