@page
@model Octans.Client.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .image-wrapper {
        background: url('/images/loading.gif') no-repeat center center;
        min-height: 100px;
    }
    img {
        opacity: 0;
        transition: opacity 0.3s;
    }
    img.loaded {
        opacity: 1;
    }
</style>

<form method="post">
    <button type="submit" class="btn btn-primary mt-3">Get all</button>
</form>

@foreach (var uri in Model.Filepaths)
{
    <div id="imageContainer">
        <div class="image-wrapper">
            <img src="@Url.Page("Index", "FilePreview", new {path = uri})"
                 width="200"
                 height="200"
                 alt="loading"
                 onload="this.classList.add('loaded'); this.parentNode.classList.remove('image-wrapper');"/>
        </div>
    </div>
}