@page "/Imports"
@using MudBlazor

<div class="imports-container">
    <h3>Import Content</h3>

    <div class="import-tabs">
        <MudTabs>
            <MudTabPanel Text="Files">
                <div class="upload-section">
                    <LocalFileImport/>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="URL">
                <div class="url-section">
                    <RawUrlImport/>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="Post">
                <p>Sorry, this isn't implemented yet.</p>
            </MudTabPanel>
            <MudTabPanel Text="Gallery">
                <p>Sorry, this isn't implemented yet.</p>
            </MudTabPanel>
            <MudTabPanel Text="Watchable">
                <p>Sorry, this isn't implemented yet.</p>
            </MudTabPanel>
        </MudTabs>
    </div>
</div>
