@page "/imports"
@inject NavigationManager NavigationManager

<div class="imports-container">
    <h3>Import Content</h3>

    <div class="import-tabs">
        <MudTabs @bind-ActivePanelIndex="_activeTabIndex">
            <MudTabPanel Text="Files">
                <div class="upload-section">
                    <LocalFileImport/>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="URL">
                <div class="url-section">
                    <RawUrlImport/>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="Post">
                <p>Sorry, this isn't implemented yet.</p>
            </MudTabPanel>
            <MudTabPanel Text="Gallery">
                <p>Sorry, this isn't implemented yet.</p>
            </MudTabPanel>
            <MudTabPanel Text="Watchable">
                <p>Sorry, this isn't implemented yet.</p>
            </MudTabPanel>
        </MudTabs>
    </div>
</div>

@code {
    private int _activeTabIndex;

    [SupplyParameterFromQuery]
    public string? Tab { get; set; }

    protected override void OnParametersSet()
    {
        if (Tab is null) return;

        _activeTabIndex = Tab switch
        {
            "files" => 0,
            "url" => 1,
            "gallery" => 3,
            "watchable" => 4,
            _ => 0
        };
    }
}
