@using MudBlazor
@inject IRawUrlImportViewmodel Viewmodel

<div class="input-group">
    <textarea
        @bind="Viewmodel.RawInputs"
        placeholder="Enter URLs (one per line)"
        rows="5"
        class="url-input">
    </textarea>
</div>

<div class="import-options">
    <MudCheckBox
        @bind-Value="Viewmodel.AllowReimportDeleted">
        Allow reimport of deleted items
    </MudCheckBox>
</div>

<MudButton
    Class="send-button"
    OnClick="@Viewmodel.SendUrlsToServer"
    Disabled="@(string.IsNullOrWhiteSpace(Viewmodel.RawInputs))">
    Import
</MudButton>