@using Octans.Client.Components.Gallery
<article class="tag-chooser">
    <section class="paths">
        <MudDataGrid
            MultiSelection="true"
            SelectedItems="@SelectedPaths"
            Items="@(Paths.Select((s, i) => new
                   {
                       Path = s,
                       Index = i
                   }))">
            <Columns>
                <PropertyColumn Property="@(x => x.Index)" Title="#"/>
                <PropertyColumn Property="@(x => x.Path)"/>
                <TemplateColumn Title="Metadata"/>
            </Columns>
        </MudDataGrid>
    </section>
    <section class="tag-selection">
        <div class="tag-inputs">
            <div class="tags-for-all">
                <ManualTagInput 
                    Title="tags for all"
                    TagsChanged="tags => { }"
                />
            </div>
            <div class="tags-for-selected">
                <ManualTagInput 
                    Title="tags for selected items"
                    TagsChanged="tags => { }"
                    />
            </div>
        </div>
        <div class="misc">
            <h3>misc</h3>
            <div class="misc-option">
                <span>add filename?</span>
                <MudCheckBox T="bool"/>
                <MudTextField T="string"/>
            </div>
            <div class="misc-option">
                <span>add first directory?</span>
                <MudCheckBox T="bool"/>
                <MudTextField T="string"/>
            </div>
            <div class="misc-option">
                <span>add filename?</span>
                <MudCheckBox T="bool"/>
                <MudTextField T="string"/>
            </div>
            <div class="misc-option">
                <span>add filename?</span>
                <MudCheckBox T="bool"/>
                <MudTextField T="string"/>
            </div>
            <div class="misc-option">
                <span>add filename?</span>
                <MudCheckBox T="bool"/>
                <MudTextField T="string"/>
            </div>
        </div>
    </section>
</article>

@code {
    [Parameter, EditorRequired] public IEnumerable<string> Paths { get; set; } = [];
    [Parameter, EditorRequired] public EventCallback<List<TagsForPath>> OnConfirm { get; set; }
    [Parameter, EditorRequired] public EventCallback<bool> OnCancel { get; set; }

    public HashSet<string> SelectedPaths { get; set; } = [];

    public sealed class TagsForPath
    {
        public required string Path { get; set; }
        public List<TagViewer.Tag> Tags { get; set; } = [];
    }

}

<style>
    article {
        display: flex;
        flex-direction: column;
        border: 1px solid;
    }

    .tag-selection {
        display: flex;
        flex-direction: row;
    }

    .tag-inputs {
        display: flex;
        flex-direction: row;
        flex: 1 1 0;
    }

    .misc {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-items: flex-start;
        align-items: center;
    }

    .misc-option {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
</style>