@page "/Imports"
@inject ImportsViewmodel Viewmodel

<h3>Imports</h3>

<InputFile OnChange="@LoadFiles" multiple />

<button @onclick="@Send">Send</button>

@code {
    private readonly List<IBrowserFile> _localFiles = [];
    
    private void LoadFiles(InputFileChangeEventArgs arg)
    {
        var files = arg.GetMultipleFiles(5000);

        _localFiles.AddRange(files);
    }

    private async Task Send()
    {
        await Viewmodel.SendLocalFilesToServer(_localFiles);
    }
}