<div class="main-toolbar">
    <MudToolBar>
        <MudButton Size="Size.Small" Color="Color.Inherit" Class="mr-5">files</MudButton>
        <MudButton Size="Size.Small" Color="Color.Inherit" Class="mr-5">downloads</MudButton>
        <MudButton Size="Size.Small" Color="Color.Inherit" Class="mr-5">database</MudButton>
    </MudToolBar>
</div>

@code {
    
}

<style>
    .main-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }
</style>