<div class="status-bar">
    <p>status: ...</p>
    <p>other info</p>
</div>

@code {
    
}

<style>
    .status-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em;
        border: 1px solid black;
    }
</style>